<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BaseConnection" connectionString="Data Source=localhost;Initial Catalog=Miguel_ArqQA;Persist Security Info=True;User Id=sa;Password=abc123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>